<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>domain</key>
	<string>http://test.51wansy.com</string>
	<key>secretKey</key>
	<string>YLTWbZoZ4DCQ1zrcN3rqi77ajKLwhuHv</string>
	<key>chanelID</key>
	<string>0</string>
	<key>isAppSotre</key>
	<string>1</string>
</dict>
</plist>
